body 
	margin: 0px 
.fond 
	background-image: url('./img/backed.jpg') 
	background-repeat: no-repeat 
	background-size: cover 
	background-position: center 
	height: 800px 
	background-color: #BD584E 
.btnHeader 
	background-color: #FFF 
	color: #303030 
	padding: 14px 21px 
	font-size: 13px 
	border-radius: 30px 
	border: 0px 
.row 
	height: 300px 
.colorHead 
	color: #BD584E 
.typewriter 
	color: #fff 
	font-family: monospace 
	overflow: hidden 
	border-right: .10em solid orange 
	white-space: nowrap 
	margin: 0 auto 
	max-width: max-content 
	letter-spacing: .15em 
	animation: typing 2s steps(100, end), blink-caret .7s step-end infinite 
@keyframes typing 
	from 
		width: 0%
	to 
		width: 100% 

@keyframes blink-caret 
	from,
	to 
		border-color: transparent
	50%
		border-color: orange  

.spanNav 
	font-size: 40px 
	color: white 
	font-family: 'Indie Flower', cursive 
.nav-link 
	font-size: 20px 
	margin: 0px 10px 
#navbarText 
	a 
		color: white 
		&:hover 
			color: grey 
.fab 
	color: white 
.about 
	background-color: #F7EFF1 
	display: flex 
	flex-direction: column 
	align-items: center 
	padding: 35px 
.pAbout 
	width: 50vw 
	text-align: center 
.btnAbout 
	background-color: #FFF 
	color: #303030 
	padding: 17px 25px 
	border-radius: 30px 
	border: 0px 
.skill 
	background-color: #F6F7FA 
	display: flex 
	flex-direction: column 
	align-items: center 
	padding: 35px 
.card 
	width: 50% 
.skillDiv 
	.card 
		padding: 15px 
		height: 80% 
		&:hover 
			opacity: 0.40 
			background-color: black
.projet
	background-color: #F7EFF1
	a 
		color: grey
		&:hover 
			color: black
			text-decoration: none
	li 
		list-style: none
	img 
		width: 30%
