@charset "UTF-8";
body {
  overflow-x: hidden;
}

.fond {
  background-image: url("./img/comp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
  background-color: #BD584E;
}

.btnHeader {
  display: inline-block;
  border-radius: 50px;
  background-color: #BD58;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  width: 160px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.btnHeader a {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: white;
}
.btnHeader a:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.btnHeader:hover a {
  padding-right: 15px;
  color: black;
}
.btnHeader:hover a:after {
  opacity: 1;
  right: 0;
}

#rower {
  height: 500px;
  display: flex;
  align-content: center;
}

.colorHead {
  color: #06BC9B;
  font-family: "Varela Round", sans-serif;
  animation: opacityPulse 2s ease-out;
  animation-iteration-count: infinite;
  opacity: 1;
}

@keyframes opacityPulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 0;
  }
}
.typewriter {
  color: #fff;
  font-family: "Varela Round", sans-serif;
  overflow: hidden;
  border-right: 0.1em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  max-width: max-content;
  letter-spacing: 0.15em;
  animation: typing 2s steps(100, end), blink-caret 0.9s step-end infinite;
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
.navig .col-lg-3 i {
  color: #525D68;
}
.navig .col-lg-3 .fa-linkedin-in:hover {
  color: blue;
}
.navig .col-lg-3 .fa-instagram:hover {
  color: red;
}
.navig .col-lg-3 .fa-github:hover {
  color: black;
}

.stick {
  position: fixed;
  z-index: 2;
  opacity: 0.55;
  height: 55px;
  width: 105%;
}
.stick .col-lg-8 ul li {
  box-shadow: 10px 5px 5px #bd584e;
}
.stick .col-lg-8 ul li a {
  font-weight: bold;
}
.stick .col-lg-3 i {
  color: #525D68;
}
.stick .col-lg-3 .fa-linkedin-in {
  color: white;
}
.stick .col-lg-3 .fa-instagram {
  color: white;
}
.stick .col-lg-3 .fa-github {
  color: white;
}

.spanNav {
  font-size: 40px;
  color: black;
  font-family: "Indie Flower", cursive;
}

.nav-link {
  font-size: 20px;
  margin: 0px 10px;
  font-family: "Varela Round", sans-serif;
}

#navbarText a {
  color: #00acee;
}
#navbarText a:hover {
  color: #BD584E;
}

.fab {
  color: white;
}

.about {
  background-color: #F7EFF1;
}

.pAbout {
  text-align: center;
  color: #525D68;
  font-family: "Varela Round", sans-serif;
}

.btnAbout {
  display: inline-block;
  border-radius: 50px;
  background-color: #a1c53788;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.btnAbout a {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: #bd584e;
}
.btnAbout a:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.btnAbout:hover a {
  padding-right: 20px;
  color: black;
}
.btnAbout:hover a:after {
  opacity: 1;
  right: 0;
}

.skill {
  background-color: #F7EFF1;
  padding: 25px;
}

.skillImg img {
  width: 45px;
}

.projet {
  background-color: #F6F7FA;
}
.projet .btnPro {
  display: inline-block;
  border-radius: 50px;
  background-color: #a1c53788;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  width: 160px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.projet .btnPro span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: #bd584e;
}
.projet .btnPro span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.projet .btnPro:hover span {
  padding-right: 25px;
  color: black;
}
.projet .btnPro:hover span:after {
  opacity: 1;
  right: 0;
}
.projet li {
  list-style: none;
}
.projet img {
  width: 50%;
}
.projet .gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
}
.projet .gallery .pics {
  transition: all 350ms ease;
}
.projet .gallery .animation {
  transform: scale(1);
}

@media (max-width: 450px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}
@media (max-width: 400px) {
  .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }
}
.contact {
  background-color: #F7EFF1;
}

.footer {
  background-color: #161616;
  height: 240px;
}

.spanNave {
  font-size: 40px;
  color: white;
  font-family: "Indie Flower", cursive;
}

.btnContact {
  display: inline-block;
  border-radius: 50px;
  background-color: #a1c53788;
  border: none;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 10px;
  padding: 10px;
  width: 240px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.btnContact span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: #bd584e;
  font-size: 15px;
}
.btnContact span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.btnContact:hover span {
  padding-right: 25px;
  color: black;
}
.btnContact:hover span:after {
  opacity: 1;
  right: 0;
}

.btnContacte {
  display: inline-block;
  border-radius: 50px;
  background-color: #a1c53788;
  border: none;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 10px;
  padding: 12px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.btnContacte span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: #bd584e;
  font-size: 15px;
}
.btnContacte span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.btnContacte:hover span {
  padding-right: 25px;
  color: black;
}
.btnContacte:hover span:after {
  opacity: 1;
  right: 0;
}

.serv {
  color: #06BC9B;
  font-family: "Raleway", sans-serif;
}

.servp {
  color: #525D68;
  font-family: "Varela Round", sans-serif;
}

#service {
  background-color: #F6F7FA;
}

html {
  scroll-behavior: smooth;
}

.carousel-item img {
  margin: 0 auto;
}

.imgDev {
  transition: transform 0.8s ease-in-out;
}
.imgDev:hover {
  transform: rotate(360deg);
}

#cf img {
  animation-name: cf3FadeInOut;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-direction: alternate;
}

@keyframes cf3FadeInOut {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 0.75;
  }
  55% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.foot .link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px dashed white;
  background-clip: content-box;
  transition: 0.5s;
  color: #D7D0BE;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #00acee;
}
.foot .link:hover {
  padding: 10px;
  color: white;
  margin-left: -5px;
  transform: translateX(10px) rotate(360deg);
}

.foot .link i {
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.foot .insta {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px dashed white;
  background-clip: content-box;
  transition: 0.5s;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #f09433;
}
.foot .insta:hover {
  padding: 10px;
  color: white;
  margin-left: -5px;
  transform: translateX(10px) rotate(360deg);
}

.foot .insta i {
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.foot .git {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px dashed white;
  background-clip: content-box;
  transition: 0.5s;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #bd584e;
}
.foot .git:hover {
  padding: 10px;
  color: white;
  margin-left: -5px;
  transform: translateX(10px) rotate(360deg);
}

.foot .git i {
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form {
  background-color: rgba(0, 0, 0, 0.05);
}

.skillo img {
  width: 65px;
}

.card-body {
  font-weight: bold;
}
.card-body ul li {
  list-style: none;
}

#contact .fade {
  height: 580px;
}

.hiddens {
  visibility: hidden;
}

.propro {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 4px;
}

.columnpro {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
.columnpro img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .columnpro {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .columnpro {
    flex: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .typewriter {
    font-size: 25px;
  }

  #rower {
    height: 190px;
  }

  .fond {
    height: 500px;
  }

  .dev {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dev .devImg {
    margin: 25px;
  }
  .dev .mo .collapse .card ul li {
    width: 50vw;
    margin-top: 10px;
  }

  .service img {
    width: 200px;
  }

  .projet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .projet .carousel .slide .carousel-inner .carousel-item img {
    width: 300px;
  }

  .skillImg .offset-lg-2 {
    text-align: center;
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .skillo .col-lg-6 {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .footer {
    height: 430px;
  }
  .footer .row .foot a {
    margin: 10px;
  }

  .navig {
    opacity: 0.85;
    position: fixed;
    top: 0;
    z-index: 3;
  }
  .navig .col-lg-8 .navbar .collapse ul li {
    background-color: #fff;
    width: 30%;
  }

  #rower .col-12 {
    position: absolute;
    top: 20%;
    left: 1%;
  }

  #exampleModal {
    width: 375px;
  }
  #exampleModal input {
    width: 200px;
    margin: auto;
  }
  #exampleModal textarea {
    display: flex;
    width: 300px;
    margin: auto;
  }
  #exampleModal .form-check {
    display: flex;
    align-items: center;
  }
  #exampleModal .form-check input {
    margin-left: 125px;
  }

  .stick {
    height: 120px;
  }
}
body {
  background-color: #1b1b1d;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body:after {
  content: "";
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/texture.svg);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  pointer-events: none;
  opacity: 0.2;
  filter: invert(1);
  background-size: cover;
}

/*# sourceMappingURL=style.css.map */
